<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ay.dao.AyStudentDao">

    <resultMap id="studentMap" type="com.ay.model.AyStudent">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="aySchool" javaType="com.ay.model.AySchool">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <select id="findById" parameterType="Integer" resultMap="studentMap">
        SELECT * FROM ay_student s , ay_school c
        WHERE s.school_id = c.id
        AND s.id = #{id}
    </select>

    <select id="findBySchoolId" parameterType="Integer" resultType="com.ay.model.AyStudent">
        SELECT * FROM ay_student WHERE school_id = #{school_id}
    </select>

</mapper>