<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ay.dao.AyUserDao">
    <sql id="userField">
        a.id as "id",
        a.name as "name",
        a.password as "password"
    </sql>
    <!-- 获取所有用户 -->
    <select id="listAllUser" resultType="com.ay.model.AyUser">
        select
        <include refid="userField"/>
        from ay_user as a
    </select>

</mapper>