<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ay.dao.UserDao">
    <cache/>
    <resultMap id="userMap" type="com.ay.model.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
    </resultMap>
    <!-- sql代码块 -->
    <sql id="table_column">
        id,
        name,
        account
    </sql>

    <select id="find" resultMap="userMap">
        select
        <include refid="table_column"/>
        from user
        <where>
            id = #{id}
        </where>
    </select>

</mapper>